Ref:

https://github.com/YemiOla/openweather_etl/blob/master/main.py

In [23]:
from datetime import datetime
import pandas as pd
import json
import requests

In [8]:
city_name='Houston'
api_key='dd6ea92d95de16ee3f78157e7b086eb6'

In [9]:
full_url=f"https://api.openweathermap.org/data/2.5/weather?q={city_name}&appid={api_key}"

In [19]:
data=requests.get(full_url).json()
print(data)

{'coord': {'lon': -95.3633, 'lat': 29.7633}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'base': 'stations', 'main': {'temp': 295.13, 'feels_like': 295.63, 'temp_min': 293.7, 'temp_max': 296.16, 'pressure': 1016, 'humidity': 86}, 'visibility': 10000, 'wind': {'speed': 2.57, 'deg': 330}, 'clouds': {'all': 75}, 'dt': 1716967601, 'sys': {'type': 2, 'id': 2001415, 'country': 'US', 'sunrise': 1716981731, 'sunset': 1717031762}, 'timezone': -18000, 'id': 4699066, 'name': 'Houston', 'cod': 200}

In [20]:
def kelvin_to_fahrenheit(temp_in_kelvin):
    temp_in_fahrenheit = (temp_in_kelvin - 273.15) * (9/5) + 32
    return temp_in_fahrenheit

In [21]:
city = data["name"]
weather_description = data["weather"][0]['description']
temp_farenheit = kelvin_to_fahrenheit(data["main"]["temp"])
feels_like_farenheit= kelvin_to_fahrenheit(data["main"]["feels_like"])
min_temp_farenheit = kelvin_to_fahrenheit(data["main"]["temp_min"])
max_temp_farenheit = kelvin_to_fahrenheit(data["main"]["temp_max"])
pressure = data["main"]["pressure"]
humidity = data["main"]["humidity"]
wind_speed = data["wind"]["speed"]
time_of_record = datetime.utcfromtimestamp(data['dt'] + data['timezone'])
sunrise_time = datetime.utcfromtimestamp(data['sys']['sunrise'] + data['timezone'])
sunset_time = datetime.utcfromtimestamp(data['sys']['sunset'] + data['timezone'])

In [22]:
transformed_data = {"City": city,
                    "Description": weather_description,
                    "Temperature (F)": temp_farenheit,
                    "Feels Like (F)": feels_like_farenheit,
                    "Minimun Temp (F)":min_temp_farenheit,
                    "Maximum Temp (F)": max_temp_farenheit,
                    "Pressure": pressure,
                    "Humidty": humidity,
                    "Wind Speed": wind_speed,
                    "Time of Record": time_of_record,
                    "Sunrise (Local Time)":sunrise_time,
                    "Sunset (Local Time)": sunset_time                        
                    }

In [28]:
df_data = pd.DataFrame([transformed_data])

In [29]:
df_data

,City,Description,Temperature (F),Feels Like (F),Minimun Temp (F),Maximum Temp (F),Pressure,Humidty,Wind Speed,Time of Record,Sunrise (Local Time),Sunset (Local Time)
0,Houston,broken clouds,71.564,72.464,68.99,73.418,1016,86,2.57,2024-05-29 02:26:41,2024-05-29 06:22:11,2024-05-29 20:16:02